.input-group {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 0.25rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #767676;
  }

  &__input {
    margin-bottom: 1.5rem;
    height: 40px;
    background: #ffffff;
    border: 2px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem;

    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #767676;
  }
}
