.select-birthday {
  &__group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 0.25rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #767676;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #767676;
  }

  &__date {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__select {
    margin-bottom: 1.5rem;
    min-width: 115px;
    width: 100%;
    height: 40px;
    background: #ffffff;
    border: 2px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 4px;

    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #767676;
  }

  &__select-age {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 0.5rem;
    opacity: 1;
  }
}
@media (min-width: 375px) {
  .select-birthday__select {
    min-width: 175px;
  }
}
@media (min-width: 500px) {
  .select-birthday__select {
    min-width: 115px;
  }
}