.footer-home {
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: -1px;
  background: linear-gradient(90.16deg, #33383d 0%, #1c1d20 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__card-left,
  &__card-right {
    display: none;
  }

  &__form {
    margin: 0 1rem;
    max-width: 453px;
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 45px;
    background: #26292c;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
    color: #ffffff;

    &--user {
      background: url('/content/dam/vue/img/icons/user.png') no-repeat 10%;
      background-size: 15px;
    }
  }

  &__group-button {
    display: flex;
    align-items: center;
  }

  &__button-nav {
    border: none;
    max-width: 131px;
    width: 100%;
    height: 99px;
    background: #ffffff;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.938rem;
    text-align: center;
    color: #c13216;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
      border: #f0f0f0;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__button-logout {
    background: transparent;
    border: none;
    max-width: 119px;
    width: 100%;
    height: 99px;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.938rem;
    text-align: center;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      background-color: #101012;
      border: #101012;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

@media (min-width: 1024px) {
  .footer-home {
    &__pipe {
      max-width: 61px;
      width: 100%;
      height: 0px;
      border: 1px solid #ffffff;
      transform: rotate(90deg);
      margin: 1rem;
    }

    &__card-left {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      min-width: 380px;
      max-width: 631px;
      width: 100%;
      text-align: right;
      color: #ffffff;
    }

    &__description-left {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 0.938rem;
    }

    &__card-right {
      display: flex;
      align-items: center;
      padding-right: 1rem;
      min-width: 260px;
      max-width: 280px;
      width: 100%;
      text-align: right;
      color: #ffffff;
    }

    &__description-right {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.125rem;
    }

    &__timer {
      padding-left: 1rem;
      max-width: 81px;
      width: 100%;
      text-align: center;
    }

    &__number {
      margin: 0;
      font-weight: 400;
      font-size: 3rem;
      line-height: 3.5rem;
    }

    &__unit {
      margin: 0;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }
}