.logo-desktop-login {
  display: none;
}
@media (min-width: 1024px) {
  .logo-desktop-login {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    right: 10%;
  }
}
